html {
    font-family: basic sans, sans-serif;
    font-weight: 300;
}
* {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 100%;
    vertical-align: baseline;
}
html, body {
    width: 100%;
}
h1 {
    font-size: 23px;
    color: white;
}
#centerPig {
  display: block;
  margin: 0 auto;
}
#buttonDiv{
    height: 100%;
    width: 100%;
}
.centerText {
  display: block;
  text-align: center;
}
.clearfix:after {
    display: block;
    content: " ";
    clear: both;
}
.container {
  height: 100%;
}
.nav {
    width: 90%;
    margin: auto;
    display: flex;
    height: 60px;
}
.logo {
    flex: 1;
}
.nav a, .nav a img {
    margin: 0 1em;
    color: white;
    text-decoration: none;
    vertical-align: middle;
    line-height: 60px;
    font-weight: 900;
    transition: 0.1s linear;
}
.nav a:hover, .btn:hover {
  transition: 0.1s linear;
  color: #CCC!important;
  text-decoration: none;
}
.wrapper {
    background-image: url('../images/artboard.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    width: auto;
    height: 100vh;
}
.landing {
  overflow:hidden;
  transform: translateY(33vh);
}
.landingWrapper {
    width: 80%;
    margin: auto;
    padding: 8em 3em;
}
.landingWrapper img {
    margin-left: 15%;
}

.landingRight p {
    color: yellow;
    font-size: 20px;
}
.btn {
    background-color: #034667;
    padding: 0.75em 2em;
    border-radius: 3px;
    width: 100px;
    text-align: center;
    display: block!important;
    text-decoration: none;
    margin-top: 20px;
    color:white;
    margin: 0 auto;
    transition: 0.1s linear;
}

/*
.mobileAppWrapper {
    width: 80%;
    margin: -8em auto 0 auto;
}
.mobileRight img {
    float: right;
    margin-right: 15%;
}
.mobileLeft {
    float: left;
    margin: 15em 0 0 10em;
}
.mobileLeft p {
    font-size: 18px;
    color: #182227;
}
.mobileLeft h1 {
    color:darkolivegreen;
}
.mobileLeft a img {
    margin-top:20px;
}*/
.last {
    margin-left: 1.5em;
}
.footer {
    background-color: darkred;
    display: flex;
    height: 80px;
    color: white;
}
.footer p {
    margin-left: 20px;
    font-size: 15px;
}
.footer a {
    margin-left: 3em;
    color:darkslategrey;
    text-decoration: none;
    font-size: 15px;
}
