html {
    font-family: basic sans, sans-serif;
    font-weight: 300;
}
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
}
html, body {
    width: 100%;
}
h1 {
    font-size: 23px;
    color: white;
}
.clearfix:after {
    display: block;
    content: " ";
    clear: both;
}
.nav {
    width: 90%;
    margin: auto;
    background-color: aqua;
    display: flex;
    height: 60px;
}
.logo {
    flex: 1;
}
.nav a, .nav a img {
    margin: 0 0.5em;
    color: brown;
    text-decoration: none;
    vertical-align: middle;
    line-height: 60px;
    font-weight: 300;
}
.landing {
    background-image: url('../images/room-colour-meanings.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    margin-top: -60px;
}
.landingWrapper {
    width: 80%;
    margin: auto;
    padding: 8em 3em;
}
.landingWrapper img {
    margin-left: 15%;
    float:left;
}
.landingRight {
    float:left;
    margin: 4em 0 0 0;
}
.landingRight p {
    color: yellow;
    font-size: 20px;
}
.btn {
    background-color: #034667;
    padding: 0.75em 2em;
    border-radius: 3px;
    width: 100px;
    text-align: center;
    display: block;
    text-decoration: none;
    color:blueviolet;
    margin-top: 20px;
}
.mobileAppWrapper {
    width: 80%;
    margin: -8em auto 0 auto;
}
.mobileRight img {
    float: right;
    margin-right: 15%;
}
.mobileLeft {
    float: left;
    margin: 15em 0 0 10em;
}
.mobileLeft p {
    font-size: 18px;
    color: #182227;
}
.mobileLeft h1 {
    color:darkolivegreen;
}
.mobileLeft a img {
    margin-top:20px; 
}
.last {
    margin-left: 1.5em;
}
.footer {
    background-color: darkred;
    display: flex;
    height: 80px;
    color: white;
}
.footer p {
    margin-left: 20px;
    font-size: 15px;
}
.footer a {
    margin-left: 3em;
    color:darkslategrey;
    text-decoration: none;
    font-size: 15px;
}