
@import url('https://fonts.googleapis.com/css?family=Nunito');

* {
    font-family: 'Nunito', sans-serif !important;
    font-size: 100%;
    vertical-align: baseline;
}

html, body {
    width: 100%;
}
h1 {
    font-size: 23px;
    color: white;
}
#centerPig {
  display: block;
  margin: 0 auto;
}
#buttonDiv{
    height: 100%;
    width: 100%;
}
#title {
  font-size: 42pt;
  color:white;
}
#subtitle {
  color: white;
  margin: 30px;
}
.centerText {
  display: block;
  text-align: center;
}
.clearfix:after {
    display: block;
    content: " ";
    clear: both;
}
.container-fluid {
  height: 100%;
  width: 70%;
}
.nav {
    width: 90%;
    margin: auto;
    display: flex;
    height: 60px;
}
.logo {
    flex: 1;
}
.nav a, .nav a img {
    margin: 0 1em;
    color: white;
    text-decoration: none;
    vertical-align: middle;
    line-height: 60px;
    font-weight: 900;
    transition: 0.1s linear;
}
.nav a:hover{
  transition: 0.1s linear;
  color: #CCC!important;
  text-decoration: none;
}
.btn:hover {
  transition: 0.1s linear;
  color:white!important;
  text-decoration: none;
  background-color:#00b300;
}
.wrapper {
    background-image: url('../images/artboard.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    width: auto;
    height: 100vh;
}
.landing {
  overflow:hidden;
  transform: translateY(30vh);
}
.landingWrapper {
    width: 80%;
    margin: auto;
    padding: 8em 3em;
}
.landingWrapper img {
    margin-left: 15%;
}
.btn {
    background-color: #33cc33;
    border-radius: 20px!important;
    width: 150px;
    padding: 12px 20px!important;
    text-align: center;
    display: block!important;
    text-decoration: none;
    margin-top: 20px;
    color:white;
    margin: 0 auto;
    transition: 0.1s linear;
}
.last {
    margin-left: 1.5em;
}